<template>
    <div>
        <div class="mainDewzilla" v-if="check">
            <vue-good-table :columns="columns"
                            :rows="tableData"
                            :search-options="{enabled: true}"
                            :pagination-options="{
                                enabled: true,
                                mode: 'pages',
                                perPageDropdown: [5, 10, 20]}">
                <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.field == 'avatar'">
                        <span><img :src="props.row.avatar" width="50px"/></span>
                    </span>
                    <span v-else-if="props.column.field == 'profile'">
                        <span><button class="btnProfile" v-on:click='profileShow(props.row.id)'>visit profile</button></span>
                    </span>
                    <span v-else class="ordinaryCell">
                        {{props.formattedRow[props.column.field]}}
                    </span>
                </template>
            </vue-good-table>
        </div>
        <div v-else>
            <div class="profile">
                <img :src="userData.avatar" class="imgProfile"/>
                <span class="fullName">{{userData.first_name + " " + userData.last_name}}</span>
                <!-- <span class="email">{{userData.email}}</span> -->
                <div class="row">
                    <div class="info max">
                        <label style="color: #b3b3b2">bio:</label>
                        <h5 class="infoData">Some information here ...</h5>
                    </div>
                    <div class="info halfL">
                        <label style="color: #b3b3b2">Email:</label>
                        <h5 class="infoData">{{userData.email}}</h5>
                    </div>
                    <div class="info halfR">
                        <label style="color: #b3b3b2">Number:</label>
                        <h5 class="infoData">+1 999 999 99 99</h5>
                    </div>
                </div>
                <button class="btn btn-primary" v-on:click='back()'>Back to user list</button>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'MainPage',
        data() {
            return {
                servserURL: 'https://reqres.in/api/users',
                check: true,
                tableData: [],
                page: 1,
                per_page: 50,
                columns: [
                    {
                        label: 'id',
                        field: 'id',
                    },
                    {
                        label: 'first_name',
                        field: 'first_name',
                    },
                    {
                        label: 'last_name',
                        field: 'last_name',
                    },
                    {
                        label: 'email',
                        field: 'email',
                    },
                    {
                        label: 'avatar',
                        field: 'avatar',
                    },
                    {
                        label: 'profile',
                        field: 'profile',
                    }
                ],
                userData:{}
            }
        },
        methods: {
            async profileShow(data){
                var URL = this.servserURL + "/" + data;
                await axios.get(URL)
                .then(res => {
                    console.log(res)
                    this.userData = res.data.data;
                })
                this.check = false;
            },
            back(){
                this.check = true;
                this.userData = {};
            }
        },
        mounted() {
            var URL = this.servserURL + "?page=" + this.page + "&per_page=" + this.per_page;
            axios.get(URL)
                .then(res => {
                    this.tableData = res.data.data;
                })

        }
    }
</script>
<style>
    body{
        background-color: #7c829a !important;
    }
    .text-center{
        text-align: center;
    }
    .mainDewzilla{
        max-width: 1130px;
    }
    .ordinaryCell{
        margin-top: 5px;
    }
    .btnProfile{
        width: -webkit-fill-available;
        height: 50px;
        background-color: #ffd1d1;
        border: 1px solid #8953bf;
        font-weight: bold;
        color: darkblue;
        border-radius: 5px;
        cursor: pointer;
    }
    .btnProfile:hover{
        background-color: orange;
    }
    .profile{
        background: white;
        width: 800px;
        padding: 50px;
        display: grid;
        border-radius: 10px;
    }
    .imgProfile{
        border-radius: 77px;
    }
    .fullName{
        color: rgb(0, 0, 0);
        margin: 15px;
        font-size: 20px;
        font-weight: bold;
    }
    .email{
        color: violet;
    }
    .info{
        text-align: left;
        margin-top: 50px;
        width: 49%;
    }
    .infoData{
        border-bottom: 1px solid #b3b3b3;
        text-align: center;
        padding-bottom: 10px;
    }
    .btn{
        max-width: 200px;
        margin-top: 50px;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        cursor: pointer;
    }
    .max{
        width: 100%;
    }
    .halfL{
        float: left;
    }
    .halfR{
        float: right;
    }
</style>

